* {
  margin: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  background: #1f2833;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white
}

.navLinks {
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
}

.logoimg {
  height: 70px;
}

.links {
  margin-right: 50px;
}

li {
  color:#66f6f1
}



/* Home Page css - not including navbar */
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aboutMeBox {
  border: 2px solid #66f6f1;
  background: black;
  color: #66f6f1;
  height: 60%;
  margin-right: 20px;
  width: 40%;
  padding: 10px;
}

.contactBox {
  border: 2px solid #66f6f1;
  background: black;
  color: #66f6f1;
  height: 60%;
  width: 40%;
  padding: 10px;
}